body {
  background-color: #0f0e17;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.picture-strip {
  width: 155rem;
  height: 35.5rem;
  border: 0.15rem solid #ff8906;
  display: flex;
  justify-content: center;
}

.picture-frame {
  width: 31rem;
  height: 35.5rem;
  border: 0.15rem solid #e53170;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.picture {
  width: 24rem;
  height: auto;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  width: 3rem;
  height: auto;
  cursor: pointer;
  transition: filter 0.15s ease-out;
}

.navigation:hover {
  filter: drop-shadow(0.1rem 0.1rem 0.7rem #e53170)
    drop-shadow(-0.1rem -0.1rem 0.7rem #e53170);
}

.slides-tracker {
  width: 9rem;
  height: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.slide {
  height: 0.5rem;
  width: 0.5rem;
  cursor: pointer;
  opacity: 0.5;
  background-color: #ff8906;
  border-radius: 50%;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.slide:hover {
  transform: scale(2);
  opacity: 1;
}

.active-slide {
  transform: scale(2);
  opacity: 1;
}
